.page-header
  %h1 Listing announcements

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Message
          %th Site Wide
          %th Live
          %th
          %th
          %th
      %tbody
      - announcements.each do |announcement|
        %tr
          %td= announcement.name
          %td= announcement.body
          %td= announcement.site_wide
          %td= announcement.live
          %td= link_to t('.show', default: 'show'), announcement, class: 'btn btn-mini'
          %td= link_to t('.edit', default: 'Edit'), edit_announcement_path(announcement), class: 'btn btn-mini'
          %td= link_to t('.destroy', default: 'Destroy'), announcement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'

    %br

    = link_to t('.new', default: 'New Announcement'), new_announcement_path, class: 'btn btn-primary'
