.application-group
  %h3= "#{category.capitalize.gsub("_"," ")}'s Information"
  
  = render partial: 'ancestor', locals: { f: f, ancestor: ancestor_1 }

  .horizontal-group
    %h4 Marriage

  .horizontal-group
    .control-group
      = f.label "#{category}_marriage_date".to_sym, "Marriage Date", class: 'control-label'
      .controls
        = f.date_select "#{category}_marriage_date".to_sym, start_date: Time.now.year - 500

    .control-group
      = f.label "#{category}_marriage_place".to_sym, "Marriage Place", class: 'control-label'
      .controls
        = f.text_field "#{category}_marriage_place"

  = render partial: 'ancestor', locals: { f: f, ancestor: ancestor_2 }
