.control-group
  = f.label :name
  .controls
    = f.text_field :name
.control-group
  = f.label :body
  .controls
    = f.text_area :body, class: "input-large"
.form-actions
  = f.submit nil, class: 'btn btn-primary'
  = link_to t('.cancel', default: "Cancel"), slug_path(Page.find(params[:page_id]).slug), class: 'btn'
