.page-header
  %h1 Clan Keith

.row
  .span4
    %h3 Upcoming Events
    - events_scoped.each do |event|
      .calendar-event
        %b= event.title
        %br
        = event.starts_at.to_s(:us)
        :markdown
          #{event.description}

  .span4.announcements
    %h3 Announcements
    - announcements.each do |announcement|
      .announcement
        = announcement.name
        :markdown
          #{announcement.body}
        %br

  .span4
    %h3 Additional Resources
    - blurbs.each do |blurb|
      .blurb
        :markdown
          #{blurb.body}
