.row
  .span6
    #imageCarousel.carousel.slide
      .carousel-inner
        - c=0
        - images.each do |image|
          -if c == 0
            .active.item
              = image_tag image.picture_url
          -else
            .item
              = image_tag image.picture_url
          - c += 1

      %a(href="#imageCarousel" class="carousel-control left" data-slide="prev") &lsaquo;
      %a(href="#imageCarousel" class="carousel-control right" data-slide="next") &rsaquo;
    .span5
      %h3 Upcoming Events
      - events_scoped.each do |event|
        .calendar-event
          %b= event.title
          %br
          = event.starts_at.to_s(:us)
          :markdown
            #{event.description}

  .span3.announcements
    %h3 Announcements
    - announcements.each do |announcement|
      .announcement
        %h4= announcement.name
        :markdown
          #{announcement.body}
        %br

  .span3
    %h3 Additional Resources
    - blurbs.each do |blurb|
      .blurb
        :markdown
          #{blurb.body}
