.row
  .span12
    %h1 Place Order

.row
  .span12
    %table.table
      %tr
        %th Name
        %th Size
        %th Color
        %th Price
        %th Quantity
        %th Subtotal

      - session[:cart].each do |item|
        .span12
          %tr
            %td
              = item[:name]
            %td
              = item[:size]
            %td
              = item[:color]
            %td
              = number_to_currency item[:price]
            %td
              = item[:quantity]
            %td
              = number_to_currency(item[:price].to_f * item[:quantity].to_f)

.row
  .span3
    %p
      Shipping:
      = number_to_currency params[:shipping].to_f

.row
  .span3
    %p
      Total:
      = number_to_currency params[:subtotal].to_f + params[:shipping].to_f

.row
  .span12
    #stripe_error.text-error
    = form_for order do |f|
      = f.hidden_field :shipped, value: "false"
      = f.hidden_field :processed, value: "false"
      = f.hidden_field :products, value: Order.pack_products(session[:cart])
      
      .control-group
        #first_name_error.text-error
        = f.label :customer_first_name, "First Name"
        .controls
          = f.text_field :customer_first_name

      .control-group
        #last_name_error.text-error
        = f.label :customer_last_name, "Last Name"
        .controls
          = f.text_field :customer_last_name
      
      .control-group
        #email_error.text-error
        = f.label :email, "E-Mail"
        .controls
          = f.text_field :email
     
      .control-group
        #address_street_error.text-error
        = f.label :address_street_1, "Street 1"
        .controls
          = f.text_field :address_street_1

      .control-group
        = f.label :address_street_2, "Street 2"
        .controls
          = f.text_field :address_street_2

      .control-group
        #address_city_error.text-error
        = f.label :address_city, "City"
        .controls
          = f.text_field :address_city

      .control-group
        #address_state_error.text-error
        = f.label :address_state, "State"
        .controls
          = f.text_field :address_state, size: "2"

      .control-group
        #address_zip_error.text-error
        = f.label :address_zip, "Zip"
        .controls
          = f.text_field :address_zip

      = render "stripe"

      .action
        = f.submit "Place Order"
