= form_for @applicant, url: apply_path do |f|
  .application-group#applicant-info
    %h3 Applicant Information
    .row
      .span4
        = f.label :applicant_first_name, "First Name"
        %br
        = f.text_field :applicant_first_name
      .span4
        = f.label :applicant_last_name, "Last Name"
        %br
        = f.text_field :applicant_last_name
    .row
      .span4
        = f.label :applicant_birth_date, "Birth Date"
        %br
        = f.text_field :applicant_birth_date
      .span4
        = f.label :applicant_birth_place, "Birth Place"
        %br
        = f.text_field :applicant_birth_place
    .row
      .span3
        %h4 Address
    .row
      .span3
        = f.label :address, "Street"
        %br
        = f.text_field :address
      .span3
        = f.label :city, "City"
        %br
        = f.text_field :city
      .span3
        = f.label :state, "State"
        %br
        = f.text_field :state
      .span3
        = f.label :zip, "Zip"
        %br
        = f.text_field :zip
    .row
      .span4
        = f.label :email, "E-Mail"
        %br
        = f.email_field :email

  .application-group#applicant-spouse
    %h3 Applicant Spouse Information
    .row
      .span4
        = f.label :applicant_marriage_date, "Marriage Date"
        %br
        = f.text_field :applicant_marriage_date
      .span4
        = f.label :applicant_marriage_place, "Marriage Place"
        %br
        = f.text_field :applicant_marriage_place
    .row
      .span4
        = f.label :spouse_first_name, "Spouse First Name"
        %br
        = f.text_field :spouse_first_name
      .span4
        = f.label :spouse_last_name, "Spouse Last Name"
        %br
        = f.text_field :spouse_last_name
    .row
      .span4
        = f.label :spouse_birth_date, "Spouse Birth Date"
        %br
        = f.text_field :spouse_birth_date
      .span4
        = f.label :spouse_birth_place, "Spouse Birth Place"
        %br
        = f.text_field :spouse_birth_place
    .row
      .span3
        = label_tag :spouse_deceased, "Deceased?"
        = check_box_tag :spouse_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :spouse_death_date, "Spouse Date of Death"
        %br
        = f.text_field :spouse_death_date, disabled: true
      .span4
        = f.label :spouse_death_place, "Spouse Place of Death"
        %br
        = f.text_field :spouse_death_place, disabled: true
    .row

  .application-group#parents-info
    %h3 Parent Information
    %h4 Father
    .row
      .span4
        = f.label :father_first_name, "Father's First Name"
        %br
        = f.text_field :father_first_name
      .span4
        = f.label :father_last_name, "Father's Last Name"
        %br
        = f.text_field :father_last_name
    .row
      .span4
        = f.label :father_birth_date, "Father's Birth Date"
        %br
        = f.text_field :father_birth_date
      .span4
        = f.label :father_birth_place, "Father's Birth Place"
        %br
        = f.text_field :father_birth_place
    .row
      .span3
        = label_tag :father_deceased, "Deceased?"
        = check_box_tag :father_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :father_death_date, "Father's Death Date"
        %br
        = f.text_field :father_death_date
      .span4
        = f.label :father_death_place, "Father's Place of Death"
        %br
        = f.text_field :father_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :parents_marriage_date, "Parents' Marriage Date"
        %br
        = f.text_field :parents_marriage_date
      .span4
        = f.label :parents_marriage_place, "Parents Marriage Place"
        %br
        = f.text_field :parents_marriage_place
    %h4 Mother
    .row
      .span4
        = f.label :mother_first_name, "Mother's First Name"
        %br
        = f.text_field :mother_first_name
      .span4
        = f.label :mother_last_name, "Mother's Last Name"
        %br
        = f.text_field :mother_last_name
    .row
      .span4
        = f.label :mother_birth_date, "Mother's Birth Date"
        %br
        = f.text_field :mother_birth_date
      .span4
        = f.label :mother_birth_place, "Mother's Birth Place"
        %br
        = f.text_field :mother_birth_place
    .row
      .span3
        = label_tag :mother_deceased, "Deceased?"
        = check_box_tag :mother_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :mother_death_date, "Mother's Date of Death"
        %br
        = f.text_field :mother_death_date
      .span4
        = f.label :mother_death_place, "Mother's Place of Death"
        %br
        = f.text_field :mother_death_place
    .row

  .application-group#p_grandparents-info
    %h3 Paternal Grandparents
    %h4 Parental Grandfather
    .row
      .span4
        = f.label :p_grandfather_first_name, "Grandfather's First Name"
        %br
        = f.text_field :p_grandfather_first_name
      .span4
        = f.label :p_grandfather_last_name, "Grandfather's Last Name"
        %br
        = f.text_field :p_grandfather_last_name
    .row
      .span4
        = f.label :p_grandfather_birth_date, "Grandfather's Birth Date"
        %br
        = f.text_field :p_grandfather_birth_date
      .span4
        = f.label :p_grandfather_birth_place, "Grandfather's Birth Place"
        %br
        = f.text_field :p_grandfather_birth_place
    .row
      .span3
        = label_tag :p_grandfather_deceased, "Deceased?"
        = check_box_tag :p_grandfather_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :p_grandfather_death_date, "Grandfather's Date of Death"
        %br
        = f.text_field :p_grandfather_death_date
      .span4
        = f.label :p_grandfather_death_place, "Grandfather's Place of Death"
        %br
        = f.text_field :p_grandfather_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :p_grandparents_marriage_date, "Marriage Date"
        %br
        = f.text_field :p_grandparents_marriage_date
      .span4
        = f.label :p_grandparents_marriage_place, "Marriage Place"
        %br
        = f.text_field :p_grandparents_marriage_place
    %h4 Paternal Grandmother
    .row
      .span4
        = f.label :p_grandmother_first_name, "Grandmother's First Name"
        %br
        = f.text_field :p_grandmother_first_name
      .span4
        = f.label :p_grandmother_last_name, "Grandmother's Last Name"
        %br
        = f.text_field :p_grandmother_last_name
    .row
      .span4
        = f.label :p_grandmother_birth_date, "Grandmother's Birth Date"
        %br
        = f.text_field :p_grandmother_birth_date
      .span4
        = f.label :p_grandmother_birth_place, "Grandmother's Birth Place"
        %br
        = f.text_field :p_grandmother_birth_place
    .row
      .span3
        = label_tag :p_grandmother_deceased, "Deceased?"
        = check_box_tag :p_grandmother_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :p_grandmother_death_date, "Grandmother's Date of Death"
        %br
        = f.text_field :p_grandmother_death_date
      .span4
        = f.label :p_grandmother_death_place, "Grandmother's Place of Death"
        %br
        = f.text_field :p_grandmother_death_place

  .application-group#m_grandparents-info
    %h3 Maternal Grandparents
    %h4 Maternal Grandfather
    .row
      .span4
        = f.label :m_grandfather_first_name, "Grandfather's First Name"
        %br
        = f.text_field :m_grandfather_first_name
      .span4
        = f.label :m_grandfather_last_name, "Grandfather's Last Name"
        %br
        = f.text_field :m_grandfather_last_name
    .row
      .span4
        = f.label :m_grandfather_birth_date, "Grandfather's Birth Date"
        %br
        = f.text_field :m_grandfather_birth_date
      .span4
        = f.label :m_grandfather_birth_place, "Grandfather's Birth Place"
        %br
        = f.text_field :m_grandfather_birth_place
    .row
      .span3
        = label_tag :m_grandfather_deceased, "Deceased?"
        = check_box_tag :m_grandfather_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :m_grandfather_death_date, "Grandfather's Date of Death"
        %br
        = f.text_field :m_grandfather_death_date
      .span4
        = f.label :m_grandfather_death_place, "Grandfather's Place of Death"
        %br
        = f.text_field :m_grandfather_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :m_grandparents_marriage_date, "Grandparents Marriage Date"
        %br
        = f.text_field :m_grandparents_marriage_date
      .span4
        = f.label :m_grandparents_marriage_place, "Grandparents Marriage Place"
        %br
        = f.text_field :m_grandparents_marriage_place
    %h4 Maternal Grandmother
    .row
      .span4
        = f.label :m_grandmother_first_name, "Grandmother's First Name"
        %br
        = f.text_field :m_grandmother_first_name
      .span4
        = f.label :m_grandmother_last_name, "Grandmother's Last Name"
        %br
        = f.text_field :m_grandmother_last_name
    .row
      .span4
        = f.label :m_grandmother_birth_date, "Grandmother's Birth Date"
        %br
        = f.text_field :m_grandmother_birth_date
      .span4
        = f.label :m_grandmother_birth_place, "Grandmother's Birth Place"
        %br
        = f.text_field :m_grandmother_birth_place
    .row
      .span3
        = label_tag :m_grandmother_deceased, "Deceased?"
        = check_box_tag :m_grandmother_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :m_grandmother_death_date, "Grandmother's Date of Death"
        %br
        = f.text_field :m_grandmother_death_date
      .span4
        = f.label :m_grandmother_death_place, "Grandmother's Place of Death"
        %br
        = f.text_field :m_grandmother_death_place
  
  %h2 Additional Ancestors
  .application-group#ancestor-1-info
    %h3 Ancestors 1
    %h4 Ancestor
    .row
      .span4
        = f.label :ancestor_1a_first_name, "First Name"
        %br
        = f.text_field :ancestor_1a_first_name
      .span4
        = f.label :ancestor_1a_last_name, "Last Name"
        %br
        = f.text_field :ancestor_1a_last_name
    .row
      .span4
        = f.label :ancestor_1a_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_1a_birth_date
      .span4
        = f.label :ancestor_1a_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_1a_birth_place
    .row
      .span3
        = label_tag :ancestor_1a_deceased, "Deceased?"
        = check_box_tag :ancestor_1a_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_1a_death_date
        %br
        = f.text_field :ancestor_1a_death_date
      .span4
        = f.label :ancestor_1a_death_place
        %br
        = f.text_field :ancestor_1a_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :ancestor_1_marriage_date, "Marriage Date"
        %br
        = f.text_field :ancestor_1_marriage_date
      .span4
        = f.label :ancestor_1_marriage_place, "Marriage Place"
        %br
        = f.text_field :ancestor_1_marriage_place
    %h4 Spouse
    .row
      .span4
        = f.label :ancestor_1b_first_name, "First Name"
        %br
        = f.text_field :ancestor_1b_first_name
      .span4
        = f.label :ancestor_1b_last_name, "Last Name"
        %br
        = f.text_field :ancestor_1b_last_name
    .row
      .span4
        = f.label :ancestor_1b_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_1b_birth_date
      .span4
        = f.label :ancestor_1b_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_1b_birth_place
    .row
      .span3
        = label_tag :ancestor_1b_deceased, "Deceased?"
        = check_box_tag :ancestor_1b_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_1b_death_date
        %br
        = f.text_field :ancestor_1b_death_date
      .span4
        = f.label :ancestor_1b_death_place
        %br
        = f.text_field :ancestor_1b_death_place

  .application-group#ancestor-2-info
    %h3 Ancestors 2
    %h4 Ancestor
    .row
      .span4
        = f.label :ancestor_2a_first_name, "First Name"
        %br
        = f.text_field :ancestor_2a_first_name
      .span4
        = f.label :ancestor_2a_last_name, "Last Name"
        %br
        = f.text_field :ancestor_2a_last_name
    .row
      .span4
        = f.label :ancestor_2a_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_2a_birth_date
      .span4
        = f.label :ancestor_2a_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_2a_birth_place
    .row
      .span3
        = label_tag :ancestor_2a_deceased, "Deceased?"
        = check_box_tag :ancestor_2a_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_2a_death_date, "Date of Death"
        %br
        = f.text_field :ancestor_2a_death_date
      .span4
        = f.label :ancestor_2a_death_place, "Place of Death"
        %br
        = f.text_field :ancestor_2a_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :ancestor_2_marriage_date, "Marriage Date"
        %br
        = f.text_field :ancestor_2_marriage_date
      .span4
        = f.label :ancestor_2_marriage_place, "Marriage Place"
        %br
        = f.text_field :ancestor_2_marriage_place
    %h4 Spouse
    .row
      .span4
        = f.label :ancestor_2b_first_name, "First Name"
        %br
        = f.text_field :ancestor_2b_first_name
      .span4
        = f.label :ancestor_2b_last_name, "Last Name"
        %br
        = f.text_field :ancestor_2b_last_name
    .row
      .span4
        = f.label :ancestor_2b_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_2b_birth_date
      .span4
        = f.label :ancestor_2b_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_2b_birth_place
    .row
      .span3
        = label_tag :ancestor_2b_deceased, "Deceased?"
        = check_box_tag :ancestor_2b_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_2b_death_date
        %br
        = f.text_field :ancestor_2b_death_date
      .span4
        = f.label :ancestor_2b_death_place
        %br
        = f.text_field :ancestor_2b_death_place

  .application-group#ancestor-3-info
    %h3 Ancestors 3
    %h4 Ancestor
    .row
      .span4
        = f.label :ancestor_3a_first_name, "First Name"
        %br
        = f.text_field :ancestor_3a_first_name
      .span4
        = f.label :ancestor_3a_last_name, "Last Name"
        %br
        = f.text_field :ancestor_3a_last_name
    .row
      .span4
        = f.label :ancestor_3a_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_3a_birth_date
      .span4
        = f.label :ancestor_3a_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_3a_birth_place
    .row
      .span3
        = label_tag :ancestor_3a_deceased, "Deceased?"
        = check_box_tag :ancestor_3a_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_3a_death_date, "Date of Death"
        %br
        = f.text_field :ancestor_3a_death_date
      .span4
        = f.label :ancestor_3a_death_place, "Place of Death"
        %br
        = f.text_field :ancestor_3a_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :ancestor_3_marriage_date, "Marriage Date"
        %br
        = f.text_field :ancestor_3_marriage_date
      .span4
        = f.label :ancestor_3_marriage_place, "Marriage Place"
        %br
        = f.text_field :ancestor_3_marriage_place
    %h4 Spouse
    .row
      .span4
        = f.label :ancestor_3b_first_name, "First Name"
        %br
        = f.text_field :ancestor_3b_first_name
      .span4
        = f.label :ancestor_3b_last_name, "Last Name"
        %br
        = f.text_field :ancestor_3b_last_name
    .row
      .span4
        = f.label :ancestor_3b_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_3b_birth_date
      .span4
        = f.label :ancestor_3b_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_3b_birth_place
    .row
      .span3
        = label_tag :ancestor_3b_deceased, "Deceased?"
        = check_box_tag :ancestor_3b_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_3b_death_date, "Date of Death"
        %br
        = f.text_field :ancestor_3b_death_date
      .span4
        = f.label :ancestor_3b_death_place, "Place of Death"
        %br
        = f.text_field :ancestor_3b_death_place
      
  .application-group#ancestor-4-info
    %h3 Ancestors 4
    %h4 Ancestor
    .row
      .span4
        = f.label :ancestor_4a_first_name, "First Name"
        %br
        = f.text_field :ancestor_4a_first_name
      .span4
        = f.label :ancestor_4a_last_name, "Last Name"
        %br
        = f.text_field :ancestor_4a_last_name
    .row
      .span4
        = f.label :ancestor_4a_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_4a_birth_date
      .span4
        = f.label :ancestor_4a_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_4a_birth_place
    .row
      .span3
        = label_tag :ancestor_4a_deceased, "Deceased?"
        = check_box_tag :ancestor_4a_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_4a_death_date, "Date of Death"
        %br
        = f.text_field :ancestor_4a_death_date
      .span4
        = f.label :ancestor_4a_death_place, "Place of Death"
        %br
        = f.text_field :ancestor_4a_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :ancestor_4_marriage_date, "Marriage Date"
        %br
        = f.text_field :ancestor_4_marriage_date
      .span4
        = f.label :ancestor_4_marriage_place, "Marriage Place"
        %br
        = f.text_field :ancestor_4_marriage_place
    %h4 Spouse
    .row
      .span4
        = f.label :ancestor_4b_first_name, "First Name"
        %br
        = f.text_field :ancestor_4b_first_name
      .span4
        = f.label :ancestor_4b_last_name, "Last Name"
        %br
        = f.text_field :ancestor_4b_last_name
    .row
      .span4
        = f.label :ancestor_4b_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_4b_birth_date
      .span4
        = f.label :ancestor_4b_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_4b_birth_place
    .row
      .span3
        = label_tag :ancestor_4b_deceased, "Deceased?"
        = check_box_tag :ancestor_4b_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_4b_death_date, "Date of Death"
        %br
        = f.text_field :ancestor_4b_death_date
      .span4
        = f.label :ancestor_4b_death_place, "Place of Death"
        %br
        = f.text_field :ancestor_4b_death_place

  .application-group#ancestor-5-info
    %h3 Ancestors 5
    %h4 Ancestor
    .row
      .span4
        = f.label :ancestor_5a_first_name, "First Name"
        %br
        = f.text_field :ancestor_5a_first_name
      .span4
        = f.label :ancestor_5a_last_name, "Last Name"
        %br
        = f.text_field :ancestor_5a_last_name
    .row
      .span4
        = f.label :ancestor_5a_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_5a_birth_date
      .span4
        = f.label :ancestor_5a_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_5a_birth_place
    .row
      .span3
        = label_tag :ancestor_5a_deceased, "Deceased?"
        = check_box_tag :ancestor_5a_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_5a_death_date
        %br
        = f.text_field :ancestor_5a_death_date
      .span4
        = f.label :ancestor_5a_death_place
        %br
        = f.text_field :ancestor_5a_death_place
    %h4 Marriage
    .row
      .span4
        = f.label :ancestor_5_marriage_date, "Marriage Date"
        %br
        = f.text_field :ancestor_5_marriage_date
      .span4
        = f.label :ancestor_5_marriage_place, "Marriage Place"
        %br
        = f.text_field :ancestor_5_marriage_place
    %h4 Spouse
    .row
      .span4
        = f.label :ancestor_5b_first_name, "First Name"
        %br
        = f.text_field :ancestor_5b_first_name
      .span4
        = f.label :ancestor_5b_last_name, "Last Name"
        %br
        = f.text_field :ancestor_5b_last_name
    .row
      .span4
        = f.label :ancestor_5b_birth_date, "Birth Date"
        %br
        = f.text_field :ancestor_5b_birth_date
      .span4
        = f.label :ancestor_5b_birth_place, "Birth Place"
        %br
        = f.text_field :ancestor_5b_birth_place
    .row
      .span3
        = label_tag :ancestor_5b_deceased, "Deceased?"
        = check_box_tag :ancestor_5b_deceased, "1", false, class: 'checkbox'
    .row
      .span4
        = f.label :ancestor_5b_death_date, "Date of Death"
        %br
        = f.text_field :ancestor_5b_death_date
      .span4
        = f.label :ancestor_5b_death_place, "Place of Death"
        %br
        = f.text_field :ancestor_5b_death_place

  .action-group
    .action
      = f.submit "Submit Application"
