= f.hidden_field :parent_id, value: params[:parent_id]
.control-group
  = f.label :name
  .controls
    = f.text_field :name
.control-group
  = f.label :slug
  .controls
    = f.text_field :slug
.control-group
  = f.label :body
  .controls
    = f.text_area :body, class: "input-xxlarge"
.form-actions
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), pages_path, :class => 'btn'
