%tr
  %td=link_to page.id, slug_path(page.slug)
  %td= page.name
  %td= page.updated_at.to_s(:us)
  %td= page.priority
  %td= page.public
  %td= page.draft
  %td= link_to  page.versions.count, page_versions_path(page.slug)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_slug_path(page.slug), :class => 'btn btn-mini'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), slug_path(page.slug), :method => 'destroy', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
