- model_class = Page
.row
  .span6
    %h1=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}")
    = form_for page, url: slug_path(page.slug), builder: Formal::Builder do |f|
      = render partial: "form", locals: { f:f }

  .span3
    %table.table.table-bordered
      %tbody
        %tr
          %th Image
          %th Tag
        
        - images.each do |i|
          %tr
            %td
              = image_tag i.picture_url(:thumb)
            %td
              = "<img src='#{i.picture_url(:thumb)}' class='img-polaroid'>"
