- model_class = Page
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  
.accordion#pages_index
%table.table.table-striped
  %tbody
    - top_pages.each do |section|
      %tr
        %td
          .acordion-group
            .accordion-heading
              = link_to section.name, "#collapse_#{section.id}", "data-toggle" => "collapse", class: "accordion-toggle", "data-parent" => "#pages_index"
        %tr
          %td
            .accordion-body.collapse{ id: "collapse_#{section.id}" }
              .accordion-inner
                %table.table.table-striped
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th= model_class.human_attribute_name(:name)
                    %th= model_class.human_attribute_name(:updated_at)
                    %th= model_class.human_attribute_name(:priority)
                    %th Public
                    %th Draft
                    %th Versions
                    %th=t '.actions', :default => t("helpers.actions")
                  = render partial: "index_row", locals: { page: section }
                  = raw index_rows(section.sub_pages)
= link_to t('.new', :default => "New Page"), new_page_path, :class => 'btn btn-primary'
