- if !sub_pages.blank?
  .row
    .span12
      .navbar.sub_nav
        .navbar-inner
          .container
            %ul.nav
              - sub_pages.each do |p|
                - if p.public or current_user
                  %li= link_to(p.name, slug_path(p.slug))

.page-header
  %h1=t '.title', :default => page.name

.row

  = render partial: page.category

  .span3.sidebar
    - blurbs.each do |blurb|
      .blurb
        :markdown
          #{blurb.body}
        -if user_is_admin?
          = link_to "Edit Blurb", edit_blurb_path(blurb.id, page_id: page.id), class: 'btn btn-mini'
          = link_to "Delete Blurb", page_blurb_path(page.id,blurb.id), method: :delete, confirmation: "Are you sure?", class: 'btn btn-mini btn-danger'

- if user_is_admin?
  .row
    .span12
      Admin Actions:
      = link_to "New Page", new_page_path(parent_id: page.id), :class => 'btn btn-primary'
      = link_to "Edit", edit_slug_path(page.slug, parent_id: page.parent_id), :class => 'btn'
      = link_to "Delete", slug_path(page.slug), method: :post, confirm: 'Are you sure?', :class => 'btn btn-danger'
      = link_to "Add Image", new_image_path(page_id: page.id), class: 'btn btn-primary'
      = link_to "Add Document", new_document_path(page_id: page.id), class: 'btn btn-primary'
      = link_to "Add Blurb", new_page_blurb_path(page.id), class: 'btn btn-primary'
