- if !sub_pages.blank?
  .row
    .span12
      .navbar.sub_nav
        .navbar-inner
          .container
            %ul.nav
              - sub_pages.each do |p|
                - if p.public or current_user
                  %li= link_to(p.name, slug_path(p.slug))

.page-header
  %h1=t '.title', :default => page.name
.row
  .span9
    %article
      :markdown
        #{page.body}

    - if user_is_admin?
      .form-actions
        = link_to t('.new', :default => t("New Page")), new_page_path(:parent_id => page.id), :class => 'btn btn-primary'
        = link_to t('.back', :default => t("helpers.links.back")), pages_path, :class => 'btn'
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_slug_path(page.slug, parent_id: page.parent_id), :class => 'btn'
        = link_to t('.destroy', :default => "Delete"), slug_path(page.slug), :method => :destroy, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
        = link_to t('.new', default: t("Add Image")), new_image_path(page_id: page.id), class: 'btn btn-primary'
        = link_to t('.new', default: t("Add Document")), new_document_path(page_id: page.id), class: 'btn btn-primary'
        = link_to t('.new', default: t("Add Blurb")), new_page_blurb_path(page.id), class: 'btn btn-primary'

  .span3.sidebar
    - blurbs.each do |blurb|
      .blurb
        :markdown
          #{blurb.body}
        -if user_is_admin?
          = link_to "Edit Blurb", edit_blurb_path(blurb.id, page_id: page.id), class: 'btn btn-mini'
          = link_to "Delete Blurb", page_blurb_path(page.id,blurb.id), method: :delete, confirmation: "Are you sure?", class: 'btn btn-mini btn-danger'
