- if sub_pages.length > 0
  .row
    .navbar
      .navbar-inner
        .container
          %ul.nav
            - sub_pages.each do |p|
              - if p.public or current_user
                %li= link_to(p.name, slug_path(p.slug))

.page-header
  %h1=t '.title', :default => page.name

%article
  :markdown
    #{page.body}
    #{@markdown_image_ids}

- if user_is_admin?
  .form-actions
    = link_to t('.new', :default => t("New Page")), new_page_path(:parent_id => page.id), :class => 'btn btn-primary'
    = link_to t('.back', :default => t("helpers.links.back")), pages_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_slug_path(page.slug, parent_id: page.parent_id), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), slug_path(page.slug), :method => "destroy", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
    = link_to t('.new', default: t("Add Image")), new_image_path(imageable_id: page.id, imageable_type: Page), class: 'btn btn-primary'
