.application-group
  %h3= "#{category.capitalize.gsub("_"," ")}'s Information"
  
  = render partial: 'ancestor', locals: { f: f, ancestor: ancestor_1 }

  %h4 Marriage
  .row
    .span4
      = f.label "#{category}_marriage_date".to_sym, "Marriage Date"
      %br
      = f.text_field "#{category}_marriage_date".to_sym
    .span4
      = f.label "#{category}_marriage_place".to_sym, "Marriage Place"
      %br
      = f.text_field "#{category}_marriage_place"

  = render partial: 'ancestor', locals: { f: f, ancestor: ancestor_2 }
