%h1 Listing images

%table.table.table-striped
  %tr
    %th Name
    %th Picture
    %th Owning Page
    %th Priority
    %th Description
    %th
    %th
    %th

  - images.each do |image|
    %tr
      %td= image.name
      %td= image_tag image.picture_url(:thumb)
      %td
        - if image.page_id == nil or image.page_id == 0
          None
        - else
          = Page.find(image.page_id).name
      %td= image.priority
      %td= image.description
      %td= link_to t('.show', default: 'Show'), image, class: 'btn btn-mini'
      %td= link_to t('.edit', default: 'Edit'), edit_image_path(image), class: 'btn btn-mini'
      %td= link_to t('.destroy', default: 'Destroy'), image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'

%br

= link_to t('.new', default: 'New Image'), new_image_path, class: 'btn btn-primary'
