!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Clan Keith USA"
    %meta{:content => "The official Web site for Clan Keith USA", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body
    .container
      .row
        .span12
          #banner
      - if user_is_admin?
        .row
          .navbar
            .navbar-inner
              %ul.nav
                %li Admin Tools:
                %li= link_to "Pages", pages_path
                %li= link_to "Users", users_path
      .row
        .navbar.nav-fixed-top
          .navbar-inner
            .container
              %ul.nav
                - sections.each do |p|
                  - if p.public or current_user
                    %li.dropdown
                      %a(href="#" class="dropdown-toggle" data-toggle="dropdown")= p.name
                      %ul.dropdown-menu
                        - p.sub_pages.reorder(:priority).each do |page|
                          - if page.public or current_user
                            %li= link_to(page.name, slug_path(page.slug))
                %li
                  = link_to 'Calendar', events_path
                - if !current_user
                  %li
                    = link_to "Log In", "/log_in"
                - else
                  %li
                    = link_to "Log Out", "/log_out"
      .row
        .span9
          = yield
        .span3
          %p Sidebar Stuff
      .footer
          
